.section {
    position: relative;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 0;
    overflow: visible;

    &:not(:last-child) {
        border-bottom: thin solid rgba(255, 255, 255, 0.06);
    }

    .label {
        flex: none;
        align-self: stretch;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.4rem;
        margin-bottom: 1.5rem;
        color: var(--primary-foreground-color);
    }
}
