@import (reference) '~@stremio/stremio-colors/less/stremio-colors.less';
@import (reference) '~stremio/common/screen-sizes.less';

.details-panel-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0;

    .description {
        font-size: 1rem;
        line-height: 1.7;
        color: @color-surface-light5-90;
    }

    .meta-links {
        flex: none;
    }
}
