@placeholder-opacity: 0.1;
@logo-size: 6rem;

.placeholder-pill(@width: 100%, @height: 1.3rem) {
    background-color: var(--primary-foreground-color);
    border-radius: var(--border-radius);
    opacity: @placeholder-opacity;
    width: @width;
    height: @height;
}

.placeholder-logo(@size: @logo-size) {
    width: @size;
    height: @size;
    border-radius: 50%;
    background-color: var(--primary-foreground-color);
    opacity: @placeholder-opacity;
}

.addon-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    border: thin solid rgba(255, 255, 255, 0.06);
    background-color: var(--overlay-color);

    .logo-container {
        flex: none;
        margin: 0 auto 1rem;
        .placeholder-logo(@logo-size);
    }

    .info-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
        margin-bottom: 1rem;

        .placeholder-pill:nth-child(1) {
            .placeholder-pill(60%);
        }

        .placeholder-pill:nth-child(2) {
            .placeholder-pill(40%, 0.9rem);
        }

        .placeholder-pill:nth-child(3) {
            .placeholder-pill(80%, 0.9rem);
        }
    }

    .buttons-container {
        flex: none;

        .placeholder-pill {
            .placeholder-pill(100%, 3rem);
            border-radius: 3rem;
        }
    }
}
