:import('~stremio/routes/Settings/components/Option/Option.less') {
    option-content: content;
}

.info {
    .option-content {
        color: var(--primary-foreground-color);
        overflow: hidden;

        .label {
            text-overflow: ellipsis;
            white-space: nowrap;
            opacity: 0.6;
        }
    }
}
